.navBar {
  width: 100%;
  height: 10vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBar > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.navBar > ul > li {
  margin: 50px 70px 0 0;
}

.navBar > ul > li:first-child {
  transform: translateX(-150px);
  font-size: 20px;
}

.navBar > ul > li:not(:first-child) {
  transform: translateX(150px);
  font-size: 19px;
}

.navBar > ul > li > a:hover {
  color: #1d3557;
  transition: all 0.4s ease 0s;
}

@media screen and (max-width: 1024px) {
  .navBar > ul > li {
    margin: 50px 50px 0 0;
  }

  .navBar > ul > li:first-child {
    transform: translateX(-80px);
  }

  .navBar > ul > li:not(:first-child) {
    transform: translateX(100px);
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .navBar > ul > li {
    margin: 50px 12px 0 0;
  }

  .navBar > ul > li:first-child {
    transform: translateX(-30px);
    font-size: 16px;
  }

  .navBar > ul > li:not(:first-child) {
    transform: translateX(15px);
    font-size: 14px;
  }
}

